main {
  width: 100%;
  height: 55vw;
  padding-top: 1%; }
  main header {
    width: 31vw;
    height: 45vw;
    display: inline-block;
    padding-left: 1.5%; }
  main header > section {
    width: 100%;
    height: 80%;
    border: 2px solid #5CA4D7;
    border-bottom: 0px; }
  main header aside {
    position: relative;
    left: 95.6%;
    top: 3%;
    border-left: 2px solid #5CA4D7;
    border-bottom: 2px solid #5CA4D7;
    width: 1.32vw;
    height: 1.2vw; }
  main .asideHighlight {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: background 0.9s; }
  main .asideHighlight:hover {
    background: rgba(92, 164, 215, 0.38); }
  main .reverse {
    position: absolute;
    top: 0.2vw;
    left: 0.2vw; }
  main nav {
    width: 100%;
    height: 11%;
    border: 2px solid #5CA4D7; }
  main nav div:nth-child(1) {
    border-right: 2px solid #5CA4D7;
    width: 19.65%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative; }
  main nav div:nth-child(2) {
    border-right: 2px solid #5CA4D7;
    width: 19.6%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative; }
  main nav div:nth-child(3) {
    border-right: 2px solid #5CA4D7;
    width: 19.7%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 2.5em;
    position: relative; }
  main nav div:nth-child(4) {
    border-right: 2px solid #5CA4D7;
    width: 19.7%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative; }
  main nav div:nth-child(5) {
    width: 19.7%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative; }
  main .textSpecialOne {
    top: 21%;
    right: 23%;
    color: #5CA4D7;
    position: absolute;
    z-index: -1; }
  main .textSpecialTwo {
    top: 21%;
    right: 27%;
    color: #5CA4D7;
    position: absolute;
    z-index: -1; }
  main .textSpecialThree {
    top: 21%;
    right: 27%;
    position: absolute;
    color: #5CA4D7;
    z-index: -1; }
  main .textSpecialFour {
    top: 21%;
    right: 27%;
    color: #5CA4D7;
    position: absolute;
    z-index: -1; }
  main .textSpecialFive {
    top: 18%;
    right: 29%;
    color: #5CA4D7;
    position: absolute;
    z-index: -1; }
  main .hoverBox {
    height: 100%;
    width: 100%;
    border: 0px;
    display: absolute;
    z-index: 1;
    transition: background 0.9s; }
  main .tooltip {
    width: 100%;
    height: 12vw;
    border: 2px solid #5CA4D7;
    position: absolute;
    background: white;
    bottom: 5.4vw;
    opacity: 0;
    transition: bottom 0.5s; }
  main .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1.35em 0 1.32em;
    border-color: #5CA4D7 transparent transparent transparent;
    display: block;
    position: absolute;
    bottom: 3.1vw;
    opacity: 0;
    transition: bottom 0.5s; }
  main .tooltipTwo {
    width: 100%;
    height: 4vw;
    border: 2px solid #5CA4D7;
    position: absolute;
    background: white;
    bottom: 7.25vw;
    opacity: 0;
    text-align: center;
    transition: bottom 0.5s; }
  main .arrowTwo {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.32em 3.4em 0 3.42em;
    border-color: #5CA4D7 transparent transparent transparent;
    display: block;
    position: absolute;
    bottom: 4.1vw;
    opacity: 0;
    transition: bottom 0.5s; }
  main .hoverBox:hover {
    background: rgba(92, 164, 215, 0.38); }
    main .hoverBox:hover .tooltip {
      opacity: 1;
      bottom: 7.4vw; }
    main .hoverBox:hover .arrow {
      opacity: 1;
      bottom: 5.1vw; }
    main .hoverBox:hover .tooltipTwo {
      opacity: 1;
      bottom: 8.2vw; }
    main .hoverBox:hover .arrowTwo {
      opacity: 1;
      bottom: 5.1vw; }
    main .hoverBox:hover .squareColor:nth-child(1) {
      color: blue; }
    main .hoverBox:hover .squareColor:nth-child(2) {
      color: gray; }
    main .hoverBox:hover .squareColor:nth-child(3) {
      color: red; }
    main .hoverBox:hover .squareColor:nth-child(4) {
      color: yellow; }
    main .hoverBox:hover .squareColor:nth-child(5) {
      color: pink; }
    main .hoverBox:hover .squareColor:nth-child(6) {
      color: brown; }
  main footer {
    margin-top: 3%;
    font-size: 1.5em; }
  main footer span:nth-child(1) {
    float: left;
    margin-left: 2%;
    color: #5CA4D7; }
  main footer span:nth-child(2) {
    float: right;
    margin-right: 1%;
    font-weight: bold;
    color: #5CA4D7; }

.imgOne {
  background-image: url("../images/ShirtOne.jpeg");
  background-size: contain;
  background-repeat: no-repeat; }

.imgTwo {
  background-image: url("../images/shirtTwo.jpeg");
  background-size: contain;
  background-repeat: no-repeat; }

.imgThree {
  background-image: url("../images/shirtThree.jpeg");
  background-size: contain;
  background-repeat: no-repeat; }
