main{
  width:100%;
  height:55vw;
  padding-top:1%;

    header{
      width:31vw;
      height:45vw;
      display:inline-block;
      padding-left:1.5%;

    }

    header>section{
      width:100%;
      height:80%;
      border: 2px solid #5CA4D7;
      border-bottom:0px;
    }

    // Style for the reverse button
    header aside{
      position:relative;
      left: 95.6%;
      top: 3%;
      border-left:2px solid #5CA4D7;
      border-bottom:2px solid #5CA4D7;
      width: 1.32vw;
      height: 1.2vw;
    }

    .asideHighlight{
      width:100%;
      height:100%;
      position:absolute;
      z-index:1;
      transition:background 0.9s;
    }

    .asideHighlight:hover{
      background:rgba(92, 164, 215, 0.38);
    }

    .reverse{
      position:absolute;
      top:0.2vw;
      left:0.2vw;
    }
//Styele for pop up boxes


// Style for the nav boxes
    nav{
      width:100%;
      height:11%;
      border: 2px solid #5CA4D7;
    }
    nav div:nth-child(1){
      border-right:2px solid #5CA4D7;
      width:19.65%;
      height:100%;
      display:inline-block;
      float:left;
      text-align:center;
      position:relative;
    }
    nav div:nth-child(2){
      border-right:2px solid #5CA4D7;
      width:19.6%;
      height:100%;
      display:inline-block;
      float:left;
      text-align:center;
      position:relative;;
    }
    nav div:nth-child(3){
      border-right:2px solid #5CA4D7;
      width:19.7%;
      height:100%;
      display:inline-block;
      float:left;
      text-align:center;
      font-size:2.5em;
      position:relative;
    }
    nav div:nth-child(4){
      border-right:2px solid #5CA4D7;
      width:19.7%;
      height:100%;
      display:inline-block;
      float:left;
      text-align:center;
      position:relative;
    }
    nav div:nth-child(5){
      width:19.7%;
      height:100%;
      display:inline-block;
      float:left;
      text-align: center;
      position:relative;
    }
    // Style for the text in nav
    .textSpecialOne{
      top: 21%;
      right: 23%;
      color:#5CA4D7;
      position:absolute;
      z-index: -1;
    }
    .textSpecialTwo{
      top: 21%;
      right: 27%;
      color:#5CA4D7;
      position:absolute;
      z-index: -1;
    }
    .textSpecialThree{
      top: 21%;
      right: 27%;
      position:absolute;
      color:#5CA4D7;
      z-index: -1;
    }
    .textSpecialFour{
      top: 21%;
      right: 27%;
      color:#5CA4D7;
      position:absolute;
      z-index: -1;
    }
    .textSpecialFive{
      top: 18%;
      right: 29%;
      color:#5CA4D7;
      position:absolute;
      z-index: -1;
    }

    //Hover display for footer and pop up box
    .hoverBox{
      height:100%;
      width:100%;
      border:0px;
      display:absolute;
      z-index:1;
      transition: background 0.9s;
    }
    .tooltip{ //Used for the pop up
      width: 100%;
      height:12vw;
      border:2px solid #5CA4D7;
      position:absolute;
      background:white;
      bottom:7vw;
      opacity:0;
      transition: bottom 0.5s;
    }
    .arrow{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1em 1.35em 0 1.32em;
      border-color: #5CA4D7 transparent transparent transparent;
      display:block;
      position:absolute;
      bottom:4.6vw;
      opacity:0;
      transition: bottom 0.5s;
    }

    .tooltipTwo{
      width: 100%;
      height:12vw;
      border:2px solid #5CA4D7;
      position:absolute;
      background:white;
      bottom:7vw;
      opacity:0;
      transition: bottom 0.5s;
    }

    .arrowTwo{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3.32em 3.4em 0 3.42em;
      border-color: #5CA4D7 transparent transparent transparent;
      display:block;
      position:absolute;
      bottom:5.6vw;
      opacity:0;
      transition: bottom 0.5s;
    }
    .hoverBox:hover{
      background:rgba(92, 164, 215, 0.38);

      .tooltip{
        opacity:1;
        bottom:9vw;
        }
      .arrow{
        opacity:1;
        bottom:6.6vw;
      }
      .tooltipTwo{
        opacity:1;
        bottom:9.7vw;
      }
      .arrowTwo{
        opacity:1;
        bottom:6.6vw;
      }
    }

    // footer style
    footer{
      margin-top:3%;
      font-size:1.5em;
    }
    footer span:nth-child(1){
      float:left;
      margin-left:2%;
      color:#5CA4D7;
    }

    footer span:nth-child(2){
      float:right;
      margin-right:1%;
      font-weight: bold;
      color:#5CA4D7;
    }
}
//Picture styling
.imgOne{
  background-image: url('../images/ShirtOne.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.imgTwo{
  background-image: url('../images/shirtTwo.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.imgThree{
  background-image: url('../images/shirtThree.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}
